extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.agenda;
    var hosts = data.hosts;
    var groupedEvents = [];

block content
  .l-meta
    h1 New York Tech Week 2022
    h3 A week of IRL events thrown by NYC VCs & startups. Register your email to host or attend the events.
    h5 New York Tech Week | A week of IRL events thrown by NYC VCs & startups. Register your email to host or attend the events.

  .l-contents.js-contents#content
    .p-introduction
      .p-introduction__wrap
        .p-introduction__row.js-transition-intro#capitalText
          +textLink("https://capital.xyz/", "To celebrate the launch of Capital", "_blank")#capitalLink
        .p-introduction__links.js-transition-intro
          .p-introduction__link.js-transition-intro#ass
            |*
          .p-introduction__link.js-transition-intro
            |Oct.
          .p-introduction__link.js-transition-intro
            |10th
          .p-introduction__link.js-transition-intro
            |–
          .p-introduction__link.js-transition-intro
            |16th
          .p-introduction__link.js-transition-intro#ass
            |*
        .p-introduction__row.js-transition-intro
          |featuring events by
        .p-introduction__row.js-transition-intro
          for host in hosts.filter((host) => host.archive !== true).slice(0, 9)
            h1.host-meta #{host.company}
            h3.host-meta #{host.description}
            a(href=`/twitter.html?comp=${host.company}`, aria-label=`Go to ${host.company}'s preview page`).host-meta  
            a(href=host.href, target="_blank", aria-label=`Go to ${host.company}'s website`).host-info
              img(src=host.logo, alt=`${host.company} logo`)

        .p-introduction__row.js-transition-intro
          for host in hosts.filter((host) => host.archive !== true).slice(9, 19)
            h1.host-meta #{host.company}
            h3.host-meta #{host.description}
            a(href=`/twitter.html?comp=${host.company}`, aria-label=`Go to ${host.company}'s preview page`).host-meta  
            a(href=host.href, target="_blank", aria-label=`Go to ${host.company}'s website`).host-info
              img(src=host.logo, alt=`${host.company} logo`)
          |
          +textLink("/hosts.html", "+More")

        .p-introduction__follow.js-transition-intro
          .p-introduction__follow-in.p-introduction__follow-in--1
          .p-introduction__follow-in.p-introduction__follow-in--2
          .p-introduction__follow-in.p-introduction__follow-in--3

        .p-introduction__row.js-transition-intro#registerScroll
          |
          +textLink("#register", "Agenda")

      .p-infinite-wall.js-transition-intro
        - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
        each arr in array
          .p-infinite-wall__item
            |NEW YORK TECH WEEK
          .p-infinite-wall__item
            |//////////
          .p-infinite-wall__item
            |
            +textLink("https://capital.xyz", "TO CELEBRATE THE LAUNCH OF CAPITAL", "_blank")
          .p-infinite-wall__item
            |//////////

  .p-dummy-scroll.js-dummy-scroll

  .l-contents.js-contents
    .a-official-agenda-content.js-contents#registerToPoint
      .a-host-event__row
        .a-large-text
          |OFFICIAL AGENDA FOR NYC TECH WEEK
      .a-host-event__row
        |Interested in attending?
        +fakeTextLink("Register here", "openRegister")

    .a-host-event.js-contents#register
      .a-host-apply
        .a-introduction__input
          |Full Name
          input(placeholder="Your name" type='text' name='name')#name
        .a-introduction__input
          |Social
          input(placeholder="Your Twitter handle or LinkedIn" type='text' name='social')#social

      .a-host-apply
        .a-introduction__input
          |Email Address
          input(placeholder="Your email" type='email' name='email')#email
        .a-introduction__input
          |Company
          input(placeholder="Your company" type='text' name='company')#company

      .a-host-apply
        .a-introduction__input
          |Title
          input(placeholder="Your title" type='text' name='title')#title
        .a-introduction__input
          |Attendance
          select(name='type')#type
            option(value='', selected='selected') -- Select attendee type --
            option(value="Guest") I'd like to attend events
            option(value="Host") I'd like to host an event
      
      .p-additional-fields#eventDetails
        .a-host-event__row
          |TECH WEEK EVENT DETAILS
        .p-host-event__row__space
          |
          +textLinkOpen("https://www.notion.so/partyround/Hosting-an-NYC-Tech-Week-Event-53822a046f06463db44545e5eb2b5dc8", "- Guide to Hosting an Event -", "_blank")
        .a-host-apply
          .a-introduction__input
            |Event Title
            input(placeholder="Event title" type='text' name='event-title')#event-title
          .a-introduction__input
            |Event Date & Time
            input(placeholder="Event date & time" type='datetime-local' name='event-date')#event-date

        .a-host-apply
          .a-introduction__input
            |Event Location
            input(placeholder="Event location" type='text' name='event-location')#event-location
          .a-introduction__input
            |Event Capacity
            select(name='capacity')#capacity
              option(value='', selected='selected') -- Select capacity level --
              option(value="Small") Small - 10 to 25
              option(value="Medium") Medium - 25 to 50
              option(value="Large") Large - 50+
        
        .a-host-apply
          .a-introduction__input
            |Registration or Promotional Link (optional)
            input(placeholder="Event link" type='url' name='event-link')#event-link
          
        .a-host-apply
          .a-introduction__textarea
            |Event Description
            textarea(placeholder="Event description" type='text' name='event-description')#event-description

        .p-host-apply
          button(type='button')#registerEvent
            |Register Event

      .p-success#eventSuccess
        |Successful event registration, see you there soon

      .p-host-apply
        button(type='button')#submit
          |I'm Interested

      .p-success#success
        |Successful registration, now TO CELEBRATE THE LAUNCH OF CAPITAL on 
        +textLink("https://capital.xyz", " Twitter", "_blank")


    .a-event-schedule
      .a-event-filters
        .a-event-options
          +fakeClosedTextLink("All", "allSelected")
        .a-event-options
          +fakeClosedTextLink("Monday", "mondaySelected")
        .a-event-options
          +fakeClosedTextLink("Tuesday", "tuesdaySelected")
        .a-event-options
          +fakeClosedTextLink("Wednesday", "wednesdaySelected")
        .a-event-options
          +fakeClosedTextLink("Thursday", "thursdaySelected")
        .a-event-options
          +fakeClosedTextLink("Friday", "fridaySelected")
        .a-event-options
          +fakeClosedTextLink("Saturday", "saturdaySelected")
        .a-event-options
          +fakeClosedTextLink("Sunday", "sundaySelected")

      .a-events-container
        .a-fullday
          - var weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
          each day in weekdays
            .a-day(id=day+"title")
              |#{day}
            .a-events(id=day+"events")
              - var events = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
              each event in events
                .a-event(id=day + event)
                  .a-event__title
                  .a-event__deets
                    .a-event__details
                    .a-event__time
                  .a-event__link
                    +textLinkOpen("", "Event link", "_blank", "link")
                


      .p-infinite-wall-bottom.js-transition-intro
          - var array = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
          each arr in array
            .p-infinite-wall__item
              |
              +textLink("https://capital.xyz", "TO CELEBRATE THE LAUNCH OF CAPITAL", "_blank")
            .p-infinite-wall__item
              |//////////
            .p-infinite-wall__item
              |NEW YORK TECH WEEK
            .p-infinite-wall__item
              |//////////

  a(href="https://capital.xyz", target="_blank", id="capital")
    .capital-notice
      img(src="/img/logos/capital.png", alt=`Capital logo`)
      h5 Modern companies are built on Capital
      p Available now on iOS and Web.
        
  canvas(id="canvas-webgl", class="p-canvas-webgl")