mixin splitStr(str, className)
  -
    var strArr = str.split('');
    var html = '';
    for (var i = 0; i < strArr.length; i++) {
      html += `<span class="${className}">${(strArr[i] == ' ') ? '&nbsp' : strArr[i] }</span>`;
    }
  |!{html}

mixin textLink(href, label, target, id)
  a(href = href, target = (target) ? target : '', id=id).c-text-link
    span.c-text-link__label
      |#{label}
    span.c-text-link__bg(
      class = (page.color == "white") ?  "c-text-link__bg--white" : "c-text-link__bg--black"
    )

mixin textLinkOpen(href, label, target, id)
  a(href = href, target = (target) ? target : '', id=id).o-text-link
    span.o-text-link__label
      |#{label}
    span.o-text-link__bg(
      class = (page.color == "white") ?  "o-text-link__bg--white" : "o-text-link__bg--black"
    )

mixin fakeTextLink(label, id)
  .o-text-link(id=id)
    span.o-text-link__label
      |#{label}
    span.o-text-link__bg(
      class = (page.color == "white") ?  "o-text-link__bg--white" : "o-text-link__bg--black"
    )

mixin fakeClosedTextLink(label, id)
  .c-text-link(id=id)
    span.c-text-link__label
      |#{label}
    span.c-text-link__bg(
      class = (page.color == "white") ?  "c-text-link__bg--white" : "c-text-link__bg--black"
    )